<!-- volts/templates/about.html -->
{% extends 'volts/base.html' %}

{% block content %}
	<p>Django server to view RRD charts from a voltage logger</p>
	<p>
This is intended as a complete package to turn a Raspberry Pi into a simple
data logger (using an ADC, such as on the Pimoroni Automation pHat).
	</p>
	<p>
Currently, this just handles the web server to display charts from RRD that
have been recorded by the other components.  The Django DB is used to hold
the list of RRD duration specs that define the charts we want to
offer/display.   Much of the charting is hard-coded for now.
	</p>
	<p>
See <a href="https://github.com/ptb99/rrd_view">https://github.com/ptb99/rrd_view</a>
for source code.
	</p>
{% endblock %}
