<!doctype html>
{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Voltage Graphs</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- local CSS -->
    <link rel="stylesheet" href="{% static 'css/volts.css' %}">
  </head>

  <body>
    <div class="page-header">
      <h1>Raspberry Pi Voltage Grapher</h1>
    </div>
    <br>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <hr>
    <div class="footer">
      <a href="{% url 'about' %}">About</a><br>
      by Tom Pavel (pavel@alum.mit.edu)
    </div>
  </body>
</html>
