<!doctype html>
{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ labels.title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- local CSS -->
    <link rel="stylesheet" href="{% static 'css/volts.css' %}">
    <!-- Booststrap JS
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    {% if labels.color != "" %}
    <!-- override to allow tweaking the color -->
    <style type="text/css">
        .jumbotron {
            background-color: {{ labels.color }};
        }
    </style>
    {% endif %}
    <link rel="icon" type="image/png"
	  href="{% static 'favicon.png' %}">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>{{ labels.banner }}</h1>
      </div>
      {% block content %}
      {% endblock %}
      <br>
      <div class="well well-sm footer">
	<small>
	  <a href="{% url 'about' %}">About</a>
	  <br>
	  by <a href="mailto:pavel@alum.mit.edu">Tom Pavel</a>
	</small>
      </div>
    </div>
  </body>
</html>
