.jumbotron {
    background-color: #FCA205;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
}


/* unclear why this isn't working... */
.footer {
    font-family: serif;
    font-size: 12px;
}
